{% extends 'html/index.html' %}
{% load static %}
{% block content %}


  <div class="card text-center">
    <div class="card-header">
      url-shortner
    </div>
    <div class="card-body">
      <h5 class="card-title">Write your link</h5>
      <form method="post" action="{% url 'index' %}" >
        {% csrf_token %}
            
    
        {{ form.as_p }}
        <input type="submit" value="submit" class='btn btn-primary  '>
        </form>
    </div>
    <div class="card-footer text-muted">
      {{note}}
      {{short}}
    </div>
  </div>

  {% endblock content %}


  